[submodule "Full_Portfolio/Analytical & Applied Baseball Projects/OffenseArchetypes"]
	path = Full_Portfolio/Analytical & Applied Baseball Projects/OffenseArchetypes
	url = https://github.com/jdigiovanni4/OffenseArchetypes
